<div class="fg container-fluid p-3 mr-3">
  <div class="brandi d-flex justify-content-center align-items-center mb-3 mt-3" style="margin-left:-24px; ">
    <div class="logo"><img src="assets/logo.png" alt=""></div>
    <div class="brand">Solutions</div>
  </div>
  <div class="line"></div>
  <!--starting of the navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-4 " >
    <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left:-28px">
      <ul class="navbar-nav flex-column">
        <li class="nav-item active">
          <div class="box"><fa-icon [icon]="faDashboard" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <div class="box"><fa-icon [icon]="faUserGroup" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <div class="box"><fa-icon [icon]="faDiagramProject" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <div class="box"><fa-icon [icon]="faWrench" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <div class="box"><fa-icon [icon]="faPersonChalkboard" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <div class="box"><fa-icon [icon]="faUserFriends" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Profiles</a>
        </li>
        <li class="nav-item">
          <div class="box"><fa-icon [icon]="faDatabase" style="color:#344767;cursor:pointer" class="mx-1"></fa-icon></div>
          <a class="nav-link" href="#">Database</a>
        </li>
      </ul>
    </div>
  </nav>



</div>
